@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

:root {
  --white: #f9f7f1;
  --green: #266320;
  --coral: #ee7674;
  --lightblue: rgb(168, 235, 237);
  --navy: #283b53;
}

html {
  scroll-behavior: smooth;
}

body {
  --background-color: var(--white);
  --border-color: var(--background-color);
  font-family: "Montserrat", Times, Serif;
  font-size: 16px;
  margin: 0;
  transition: 1s;
  background-color: var(--background-color);
  border-color: var(background-color);
  overflow-x: hidden;
  --text-color: var(--navy);
  color: var(--text-color);
  letter-spacing: 1px;
  line-height: 1.8;
}

body.dark {
  --background-color: var(--navy);
  border-color: var(--navy);
  --text-color: var(--lightblue);
  color: var(--text-color);
}

div {
  margin: 0;
}

p {
  z-index: -1;
  text-align: justify;
  margin-right: 15%;
  margin-left: 15%;
}

h1 {
  font-family: Times, serif;
  text-align: center;
  color: var(--lightblue);
  font-size: 128px;
  font-weight: normal;
}

h2 {
  font-family: Times, serif;
  letter-spacing: 2.5px;
  margin-left: 10%;
}

h3 {
  margin-left: 15%;
  /* font-weight: normal; */
}

h4 {
  float: left;
  font-weight: normal;
  margin-left: 15%;
  /* line-height: 0; */
}

svg {
  fill: var(--white);
}

img {
  width: 10vw;
  margin: 0;
  float: right;
  /* padding-right: 10%; */
}

a {
  text-decoration: none;
  color: var(--coral);
  pointer-events: auto;
}

ul {
  margin-left: 10%;
}

a.link-underline {
  margin: 20px;
  font-size: 22px;
  position: relative;
  font-weight: bold;
}

a.link-underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--coral);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.link-underline:hover:before {
  visibility: visible;
  width: 100%;
}

.menu-container {
  position: absolute;
  height: 100%;
  /* pointer-events: none; */
}

/* .content-header {
  color: var(--lightblue);
  margin-left: 10%;
  font-size: 70px;
} */
.content {
  pointer-events: none;
  opacity: 0;
  animation-name: menu-load;
  /* animation-delay: 3s; */
  animation-duration: 4s;
  animation-fill-mode: forwards;
  padding-top: 5%;
}

.works-content-container {
  margin-left: 20%;
  margin-right: 20%;
  clear: both;
}

.content-divs {
  height: 60vh;
  clear: none;
}

.page-title {
  font-size: 90px;
  text-align: left;
  margin: 5%;
  font-style: italic;
  font-weight: bolder;
  text-shadow: 2px 2px var(--coral);
}

.gallery-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  padding: 0;
  margin-left: 20%;
  margin-right: 20%;
}

.gallery-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.gallery-img:hover {
  opacity: 0.7;
  transition: 0.3s;
}

#line-container {
  position: sticky;
  top: 50px;
}

/* .img-divs{
  width: 10vw;
  margin: 0;
  float: right;
} */
#particle-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  pointer-events: auto;
}

#title-container {
  position: relative;
  top: 35%;
  width: 800px;
  height: 80vh;
  margin: 0 auto;
}

#content-header {
  margin-left: 10%;
  fill: transparent;
}

#content-header path {
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  animation: line-animation 4s ease forwards 1s;
}

#yukari {
  position: relative;
  top: 0;
  left: 10%;
  height: 80vh;
  fill: transparent;
  /* transform: translate(-50%, 0%); */
  animation: fill-title ease 10s forwards 6s;
}

#yukari path:nth-child(1) {
  stroke-dasharray: 431px;
  stroke-dashoffset: 431px;
  animation: line-animation 2s ease forwards;
}

#yukari path:nth-child(2) {
  stroke-dasharray: 508px;
  stroke-dashoffset: 508px;
  animation: line-animation 2s ease forwards 1s;
}

#yukari path:nth-child(3) {
  stroke-dasharray: 602px;
  stroke-dashoffset: 602px;
  animation: line-animation 2s ease forwards 2s;
}

#yukari path:nth-child(4) {
  stroke-dasharray: 472px;
  stroke-dashoffset: 472px;
  animation: line-animation 2s ease forwards 3s;
}

#yukari path:nth-child(5) {
  stroke-dasharray: 549px;
  stroke-dashoffset: 549px;
  animation: line-animation 2s ease forwards 4s;
}

#yukari path:nth-child(6) {
  stroke-dasharray: 278px;
  stroke-dashoffset: 278px;
  animation: line-animation 2s ease forwards 5s;
}

.title-container {
  width: 70%;
}

.tab-container {
  /*make a rect with same bg colour?*/
  /* background-color: var(--background-color);
  z-index: 1;
  position: sticky;
  top: 0%;
  height: 50px;
  width: 100%;
  border-bottom-width: 0.5px;
  border-bottom-color: var(--lightblue);
  animation-name: border-load;
  animation-delay: 10s;
  animation-fill-mode: forwards; */
  display: flex;
  flex-direction: column;
  float: right;
  width: 30%;
  top: 0;
  position: fixed;
  right: 0;
  height: 80%;
}

.tablink {
  /* position: sticky;
  top: 5%; */
  font-family: "Georgia", Times, Serif;
  background-color: rgba(0, 0, 0, 0);
  border: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  text-align: left;
  width: 100%;
  height: 20vh;
  cursor: pointer;
  outline: none;
  color: var(--coral);
  opacity: 0;
  font-size: 30px;
  /* margin-top:5%; */
}

.tablink:hover {
  border-color: var(--lightblue);
  background-color: rgba(168, 235, 237, 0.15);
  transition-duration: 0.5s;
}

.lightToggle {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  float: right;
  outline: none;
  right: 0;
  margin: 0;
  margin-top: 8px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 30px;
  width: 105px;
  cursor: pointer;
}

.emphasis {
  font-weight: bold;
  font-style: italic;
}

.footer {
  /* text-align: center; */
  opacity: 0.5;
  margin-left: 15px;
  margin-right: 15px;
  /* width: 45px;
  height: 45px;
  margin: auto; */
}

.footer:hover {
  opacity: 1;
}

#sun {
  fill: var(--white);
}

#line {
  fill: var(--coral);
}

#moon {
  fill: var(--navy);
}

#about {
  animation-name: menu-load;
  animation-duration: 4s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

#works {
  animation-name: menu-load;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#gallery {
  animation-name: menu-load;
  animation-duration: 4s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

#contact {
  animation-name: menu-load;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

#btn-top {
  position: fixed;
  bottom: 20px;
  right: 5%;
  z-index: 99;
  display: none;
  cursor: pointer;
  background-color: rgba(168, 235, 237, 0);
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

#btn-top:hover {
  opacity: 0.5;
  transition: 0.2s;
}

@keyframes menu-load {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes border-load {
  from {
    opacity: 0;
    border-bottom-style: none;
  }

  to {
    opacity: 1;
    border-bottom-style: solid;
  }
}

@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-title {
  to {
    fill: var(--lightblue);
  }
}
